.ft{
    font-size: 0.12rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem 0;
    color: #666;
    .copyright{
        display: block;
        margin: 0 0.025rem;
    }
}