.tag{
    font-size: 0.12rem;
    line-height: 0.12rem;
    color: #32D3C3;
    display: inline-block;
    border-radius: 1.15rem;
    border: 1px solid #32D3C3;
    padding: 0.05rem 0.09rem;
    margin: 0.04rem 0.04rem 0 0;
    &:hover{
        color: #fff;
        background: #32D3C3;
    }
}